@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap');

@import "default_styles/mixin";


.bg {
    position: relative;
}

//.title {
//    margin-top: 14%;
//    margin-left: 33%;
//    font-size: 40px;
//    font-family: "Unbounded", sans-serif;
//    font-weight: 500;
//    position: absolute;
//    z-index: 999;
//    background: rgba(0, 0, 0, 0.75);
//    padding: 10px 30px;
//    border-radius: 10px;
//    box-shadow: 0 0 20px black;
//}

.bg-image {
    border-radius: 20px;
    width: 100%;
}


.chapter {
    margin-top: 20px;
    margin-bottom: 15px;
    font-size: 28px;
}


.sort-panel {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    //background: rgba(var(--objects-color-rgb), 0.7);
    background: linear-gradient(
                    150deg,
                    rgba(var(--brand-red-rgb), 0.7),
                    rgba(var(--objects-color-rgb), 0.7),
                    rgba(var(--objects-color-rgb), 0.7),
                    rgba(var(--brand-orange-rgb), 0.7)
    );
    padding: 5px;
    margin-bottom: 15px;
    border-radius: 14px;
    justify-content: center;
    gap: 35px;
    font-family: "Unbounded", sans-serif;
}

.option {
    font-weight: 400;
    font-size: 20px;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 14px;
    transition: var(--transition);

    &:active {
        @include onPress;
    }

    &:hover {
        background: rgba(var(--brand-red-rgb), 0.8);
    }
}

.product-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(256px, 1fr));
    justify-content: center;
    gap: 25px;
    //padding: 30px;
    margin-bottom: 20px;
}

.product {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    background: rgba(var(--objects-color-rgb), 0.5);
    border-radius: 20px;
    border: 2px solid rgba(var(--brand-red-rgb), 0.24);
    transition: all 0.7s;
    overflow: hidden;

    & .transparent_button {
        width: 90%;
        color: var(--text-color);
        margin-top: 7px;
        margin-bottom: 12px;
        margin-left: auto;
        margin-right: auto;
    }

    &:hover {
        border: 2px solid rgba(var(--brand-red-rgb), 0.8);
        box-shadow: 0px 0px 20px rgba(var(--brand-red-rgb), 0.3);
    }
}

.donat {
    border: 2px solid rgba(var(--brand-orange-rgb), 0.24);
    &:hover {
        border: 2px solid rgba(var(--brand-orange-rgb), 0.8);
        box-shadow: 0px 0px 20px rgba(var(--brand-orange-rgb), 0.3);
    }
}

.case {
    border: 2px solid rgba(var(--brand-pale-red-rgb), 0.24);
    &:hover {
        border: 2px solid rgba(var(--brand-pale-red-rgb), 0.8);
        box-shadow: 0px 0px 20px rgba(var(--brand-pale-red-rgb), 0.3);
    }
}

.spawner {
    border: 2px solid rgba(var(--brand-red-rgb), 0.24);
    &:hover {
        border: 2px solid rgba(var(--brand-red-rgb), 0.8);
        box-shadow: 0px 0px 20px rgba(var(--brand-red-rgb), 0.3);
    }
}

.product-img {
    transition: all 0.7s;
    object-fit: cover;
    height: auto;
    width: 100%;
    padding: 10px;
    border-radius: 25px;
    filter: drop-shadow(0 5px 7px black);
}

.product-info {
    padding: 12px 18px;
    flex: 1 1 auto;
}

.product-name {
    font-family: "Unbounded", sans-serif;
    font-size: 24px;
    word-break: break-word;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.9);
}

.discount-price {
    display: flex;
    gap: 9px;
}

.product-price, .new-price {
    @include price();
}

.old-price {
    @include price(rgb(var(--brand-red-rgb)), 18px, line-through);
    margin-top: 5px;
}



@media (max-width: 767px) {
    .product-name {
        font-size: 28px;
    }

    .product-name-icon {
        height: 17px !important;
        width: 17px !important;
        bottom: 2px !important;
    }

    .chapter {
        font-size: 20px;
    }

    .product-price, .new-price {
        @include price(rgb(var(--brand-orange-rgb)), 18px, underline);
    }

    .old-price {
        @include price(rgb(var(--brand-red-rgb)), 15px, line-through);
    }

    .option {
        font-size: 17px;
    }
}

@media (max-width: 660px) {
    .sort-panel {
        gap: 18px;
    }
}

@media (max-width: 575px) {
    .product-name {
        font-size: 20px;
    }

    .product-price, .new-price {
        @include price(rgb(var(--brand-orange-rgb)), 16px, underline);
    }

    .old-price {
        @include price(rgb(var(--brand-red-rgb)), 13px, line-through);
    }

    .product-list {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
}

@media (max-width: 453px) {
    .product-list {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }
}

