.button {
    padding: 8px 12px;
    border: 3px solid rgb(var(--brand-red-rgb));
    background: transparent;
    border-radius: 12px;
    transition: var(--transition);
    outline: none;

    &:hover {
        border: 3px solid rgba(var(--brand-red-rgb), 0.75);
    }
}

.button_2 {
    padding: 8px 12px;
    border-radius: 12px;
    background: rgb(var(--brand-orange-rgb));
    transition: var(--transition);
    outline: none;
    border: 1px solid transparent;


    &:hover {
        background: rgba(var(--brand-orange-rgb), 0.75);
    }
}

.url {

}

.no-display {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    margin: -1px !important;
    border: 0 !important;
    padding: 0 !important;
    white-space: nowrap !important;
    clip-path: inset(100%) !important;
    clip: rect(0 0 0 0) !important;
    overflow: hidden !important;
}