:root {
    --telegram-color: #00aeed;
    --vk-color: #0077ff;
    --youtube-color: #ff0000;
    --discord-color: #5865F2;
    --text-color: #fff;
    --site-bg: #120e0f;
    --objects-color-rgb: 27, 24, 24;
    --brand-orange-rgb: 255, 136, 0;
    --brand-red-rgb: 179, 10, 10;
    --brand-pale-red-rgb: 255, 51, 51;

    --blur: 7px;
    --transition: all 0.5s;
}