:root {
    --telegram-color: #00aeed;
    --vk-color: #0077ff;
    --youtube-color: #ff0000;
    --text-color: #fff;
    --site-bg: #120e0f;
    --objects-color-rgb: 27, 24, 24;


    --blur: 7px;
    --transition: all 0.5s;
}